body{
	margin:0px;
	padding:0px;
}

div.slider-control-group{
	position:relative;
	margin:10px;
	height:30px;
	min-width: 100px;
	cursor: pointer;
}

div.slider{
	position:absolute;
	width:100%;
	height:10px;
}

span.slider-ticker{
	position: absolute;
    .text-decoration: line-through;
    .font-weight: bolder;
}

div.color-box{
	height:100px;
	width:100px;
	margin:10px;
	border:2px solid #000;
}

div.slider-control-group, div.slider, span.slider-ticker{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}